body{
    background-image: url(https://wallpaperaccess.com/full/387102.jpg);
    background-size: 100vw 100vh;
}

.button-hide{
    display: none;
}

.answer-choice, p{
    font-weight: 400;
    font-size: 1.5rem;
}

.answer-choice:hover {
    border-radius: 10px;
    background-color: aqua;
}
#answers{
    text-align: center;
}

ul{
    list-style:none;
}
img{
    width: 50%;
}
.wrongPic{
    width: 30%;
}
.card{
    margin-top: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}
.card-body, .card{
    height: 500px;
}