body{
    height: auto;
    background-image: url(https://wallpaperaccess.com/full/387102.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
}

.button-hide{
    display: none;
}

.answer-choice, p{
    font-weight: 400;
    font-size: 1.5rem;
}

.answer-choice:hover {
    border-radius: 10px;
    background-color: aqua;
}
#answers{
    text-align: center;
}

ul{
    list-style:none;
}
img{
    width: 60%;
}
.wrongPic{
    width: 50%;
}
.card{
    margin-top: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}
.card-body, .card{
    height: 500px;
}

@media screen and (max-width: 600px){
    .wrongPic{
        width:70%;
    }
    img{
        width: 70%;
    }
    .question{
        font-size: 1.2rem;
    }
    .answer-choice{
        font-size: 1rem;
    }
    .title-dbz{
        font-size: 1.8rem;
    }
}